:root{
    --primario: #A2D9CE ;
    --secundario: #73C6B6;
    --terciario: #09a787;

    --ancho: 1000px;
    --alto: 600px;
}

html{
    background-color: #d6f6d7;
    font-family: 'Merriweather', serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: 1px;
    margin-bottom: 30px;
    width: 100%;
    background-color: var(--terciario);
}
a{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: black;
    margin: 0 90px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin: 1px;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(63, 62, 62);
}
footer a{
    color:white;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    margin: 0 90px;
}
.seccion{
    border-radius: 100%;
    width: var(--ancho);
    height: var(--alto);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--secundario);
    
}
.formulario{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: var(--primario);
}
.formulario h1{
    text-align: center;
    margin-bottom: 80px;
}
.formulario h3{
    margin: 10px;
}
.formulario input{
    margin: 10px;
    padding: 10px;
}
.formulario button{
    background-color: var(--secundario);
    
    padding: 10px;
    margin: 10px 140px;
}
.formulario span{
    margin-left: 10px;
    color: rgb(214, 15, 15);
    font-size: 10px;
}
.panel-comentarios{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primario);
}
.comentario{
    border-radius: 2%;
    margin-top:10px;
    margin-right: 10px;
    padding-top: 1px;
    padding-left: 10px;
    width: 90%;
    height: 20%;
    background-color: var(--secundario);
}
.comentario h4{
    font-weight: 900;
    font-size: 15px;
    margin: 0;

}
.comentario h5{
    margin: 10px 0px;
    font-weight: 300;
    font-size: 13px;
}
.comentario h6{
    margin: 5px 0px;
}
